*{
    margin: 0px;
    padding: 0px;
}
body{
    
        font-family: 'Open Sans', sans-serif;
    
}
/*This is Top Header css*/

.header-container{
    background-color: #E554731A;
}

.head-first-container{
    display: flex;
    justify-content: space-around;
    
    text-align: left;
    gap: 10px;
}

.header-second-container-blog{
    padding: 90px 0px 50px 120px;
}

.header-headline{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}

.header-blog{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}


.head-flower-photo{
    width: 400px;
    margin-right: 50px;
    margin-bottom: 0px;
}

.btn-primary{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    background:#E55473;
    border: 0;
    padding: 20px 43px;
}




/*This is Hot Deal css*/

.deal-container{
    background-color: #E554730D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 720px;
    width: 100%;
    border-radius: 8px;
    border: 0;
    margin-top: 128px;
}

.deal-header{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.deal-blog{
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;    
}

.deal-headline{
    padding-left: 240px;
}
.deal-image{
    padding-right: 240px;
}

/*This is Instagram css*/

.istagram-container{
    height: 460px;
    width: 100%;
    margin-top: 128px;
}

.instagram-image-container{
    display: flex;
    margin: 30px 100px;
    gap: 24px;
    justify-content: center;
}

.intagram-image-child{
    align-items: center;
}

.image-flower{
    width: 170px;
    height: 220px;
}

.instagram-headline{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.instagram-blog{
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


/*This is Late Deal Css*/

.late-container{
    background-image: url(Asset/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px 380px;
    height: 300px;
}

.late-head{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding-top: 40px;
}

.late-blog{
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    padding-bottom: 40px;
    color: #27272799;
}

.formone, .late-form{
    color: #27272799;
    padding: 10px 120px;
    border: 0;
    font-size: 14px;
    border-radius: 2px;
}

.f-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.btn-primary-two{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background:#E55473;
    border: 0;
    padding: 7px 12px;
}











